/* --------------- Configuração Body Padrão ------------------ */
body {
	display: flex;
	min-height: 100vh;
	flex-direction: column;
    background-color: #bdbdbd;
    
}

/* --------------- SCROLLBAR ------------------ */
::-webkit-scrollbar-track
{
    box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 10px;
    background-color: #F5F5F5;
}

::-webkit-scrollbar
{
    width: 8px;
    background-color: #323232;
}

::-webkit-scrollbar-thumb
{
    border-radius: 10px;
    box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: #555;
}
/* --------------- /SCROLLBAR ------------------ */

.alturaCabecalho
{
	height: 100px;
}

td{
    padding-right: 20px;
}

/* ----------------------------------------------------------- */


/* ----------------------- Inserindo a cor azul no Foco dos inputs ------------------------------ */

.input-field input[type=date]:focus+label, .input-field input[type=text]:focus+label,
.input-field input[type=email]:focus+label, .input-field input[type=password]:focus+label,
.active
{
	color: #2196f3 !important;
}

.input-field input[type=date]:focus, .input-field input[type=text]:focus,
.input-field input[type=email]:focus, .input-field input[type=password]:focus,
.input-field input[type=number]:focus, .input-field input[type=date]:focus
{
	border-bottom: 1px solid #2196f3;
	box-shadow: none;
}

/* ----------------------------------------------------------------------------------------------- */


/*------------------------- Fontes ---------------------------- */

.title-text{
    font-family: 'Poiret One', cursive;
}

.subtitle-text{
    font-family: 'Poiret One', cursive;
}

/* ----------------------------------------------------------- */


/* ------Alterando a cor das palavras no selectMenu ---------- */
#selectMenu span
{
   color: #2196f3 !important; 
}
/* ----------------------------------------------------------- */


/* ----- Configuração da tag <main> para incluir rodapé ------ */
main {
    flex: 1 0 auto;
}
/* ----------------------------------------------------------- */


/* -------------- Espaçamento entre botões ------------------- */
.marginButton{
  margin-left: 6px;
}

.marginButtonTop{
    margin-top: 60px;
}
/* ----------------------------------------------------------- */



/* ----------- Cor Vermelho no radio "indisponível" ---------- */

[type="radio"].indisponivel:checked + label:before {
  border-radius: 50%;
  border: 2px solid #F44336;
}

[type="radio"].indisponivel:checked + label:after {
  border-radius: 50%;
  border: 2px solid #F44336;
  background-color: #F44336;
  z-index: 0;
  -webkit-transform: scale(0.5);
          transform: scale(0.5);
}

/* ----------------------------------------------------------- */


/* --------------------- Removendo Sppiners ------------------ */

input[type=date]::-webkit-inner-spin-button, 
input[type=date]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0; 
}

/* ----------------------------------------------------------- */


/* --------------------- Removendo new da etiqueta disponivel------------------ */
span.badge.new::after {
    content: none;
}

span.badge.new {
    position: inherit;
}
/* ----------------------------------------------------------- */


/* --------------------- Pagination Color------------------ */
.pagination li.active {
    background-color: #1565C0;
}

/* ----------------------------------------------------------- */


/* --------------------- Tabs Color------------------ */
.tabs .tab a {
    color: #1565C0 !important;
    display: block;
    width: 100%;
    height: 100%;
    text-overflow: ellipsis;
    overflow: hidden;
    transition: color .28s ease;
}

.tabs .indicator {
    height: 3px;
    background-color: #1565C0 !important;
}
/* ----------------------------------------------------------- */

.invalid-messages-fields{
    color: #2196f3; /*#F44336*/
    font-size: 12px;
    margin-top: -10px;
}

/*input.ng-invalid.ng-touched{
    border-bottom: 2px solid #F44336;
	box-shadow: none;
}*/

.btn.disabled, .disabled.btn-large, .btn-floating.disabled, .btn-large.disabled, .btn:disabled, .btn-large:disabled, .btn-large:disabled, .btn-floating:disabled {
    background-color: #DFDFDF !important;
    box-shadow: none;
    color: #9F9F9F !important;
    cursor: not-allowed;
}

.progressForms{
    bottom: 9px;
    margin-bottom: -10px;
}