<div class="container">
   <div class="z-depth-3 white row" style="margin-top:40px; padding: 0px 48px 0px 48px; border: 1px solid #EEE;">
		<div class="row">
			<div class="col s12 center title-text">
				<h1>Alterar Turma</h1>
			</div>
		</div>

		<div class="row">

			<div class="col s12">

				<form name="formAlteracaoTurma" class="col s12" ng-submit="alterarTurma(formTurma)">
                      <div class="row">
                        <div class="input-field col s12">
                          <i class="material-icons prefix">speaker_notes</i>
                          <input
                              ng-model="formTurma.descricao"
                              name="descricaoN"
                              id="descricaoI" 
                              ng-maxlength="50" 
                              type="text"
                              required>
                              
                              <label for="descricaoI">Descrição</label>
                              
                              <div class="invalid-messages-fields" 
                                 ng-show="formAlteracaoTurma.$submitted || formAlteracaoTurma.descricaoN.$touched">
                                  <div ng-show="formAlteracaoTurma.descricaoN.$error.required">
                                      <span>*Este campo é obrigatório</span>
                                  </div>
                                  <div ng-show="formAlteracaoTurma.descricaoN.$error.maxlength">
                                        <span>*Este deve campo conter até 50 caracteres</span>
                                  </div>
                              </div>
                        </div>
                       </div>

                       <div class="row">

                            <div class="input-field col s6" style="padding: 14px;">
                              <i class="material-icons prefix">grade</i>
                              <input 
                                  ng-model="formTurma.serie" 
                                  ng-pattern="/^[1-9]$/"
                                  id="serieI"
                                  name="serieN"
                                  type="number" 
                                  maxlength="1"
                                  required>
                                  
                                <label for="serieI">Série</label>
                                
                                <div class="invalid-messages-fields" 
                                   ng-show="formAlteracaoTurma.$submitted || formAlteracaoTurma.serieN.$touched">
                                    <div ng-show="formAlteracaoTurma.serieN.$error.required">
                                        <span>*Este campo é obrigatório</span>
                                    </div>
                                    <div ng-show="formAlteracaoTurma.serieN.$error.pattern">
                                        <span>*Este deve campo conter somente números entre 1 e 9</span>
                                    </div>
                                    <div ng-show="formAlteracaoTurma.serieN.$error.maxlength">
                                        <span>*Este deve campo conter até 1 caractere</span>
                                    </div>
                                </div>
                            </div>

                        <div class="input-field col s6" id="selectMenu">
                            <select required name="grauEnsinoN" ng-model="formTurma.grauEnsino" material-select watch class="input-field" id="grauEnsinoI">
                                <option value="" disabled selected>Selecione</option>
                                <option value="Ensino Medio">Ensino Médio</option>
                                <option value="Ensino Fundamental">Ensino Fundamental</option>
                                <option value="EJA">EJA</option>
                            </select>
                            <label for="grauEnsinoI" class="#000000 text-black">Grau de Ensino:</label>

                            <div class="invalid-messages-fields" ng-show="formAlteracaoTurma.$submitted || formAlteracaoTurma.grauEnsinoN.$touched">
                                <div ng-show="formAlteracaoTurma.grauEnsinoN.$error.required">
                                    <span>*Este campo é obrigatório</span>
                                </div>
                            </div>
                        </div>

                        </div>

                      <div class="row" style="margin-top: 70px;">
                        <div style="float: right">
                            <a class="waves-effect waves-light btn grey marginButton" ng-click="limparCampos()">Limpar</a>
                            <a class="waves-effect waves-light btn marginButton" ui-sref="home.turmas">Voltar</a>
                            <button ng-disabled="formAlteracaoTurma.$invalid" type="submit" class="waves-effect waves-light btn green lighten-1 marginButton">
                                <i class="material-icons right">done_all</i>Confirmar</button>
                        </div>         
                    </div>
				</form>
			</div>
		</div>

	</div>
</div> 