<div class="container">
	<div class="z-depth-3 white row" style="margin-top:40px; padding: 0px 48px 0px 48px; border: 1px solid #EEE;">

		<div class="row center title-text" style="margin-bottom: -20px"><h1>Turmas</h1></div>
		
		<div class="row" style="margin-top: 45px">

			<div class="col s8" style="margin-top: 30px">
				<a class="btn waves-effect waves-light #0d47a1 blue darken-3"
				    tooltipped
				    data-delay="50"  
				    data-position="top" 
				    data-tooltip="Cadastrar nova turma" 
				    type="button" href="#/turmas/cadastro" >Nova</a>
			</div>
			<div class="input-field col s4">
				<label for="pesquisa">Pesquisa</label>
				<input id="pesquisa" type="text" maxlength="256" style="width: 85%;">
				<a class="right btn-floating black"><i class="material-icons">search</i></a>
			</div>

		</div>


		<div class="row">
			<div class="col s12">

				<table class="highlight responsive-table">

					<thead>
						<tr>
							<th>
								Descrição
							</th>
							
							<th>
								Série
							</th>
							
							<th>
								Grau de Ensino
							</th>
							
							<th class="center">
								Ações
							</th>
						</tr>
					</thead>

					<tbody>
						<tr ng-repeat="turma in listTurmas">
							<td>Turma 3M1</td>
							
							<td>3º</td>
							
							<td>Ensino Médio</td>
							
							<td class="center">

								<a class="btn-floating blue lighten-2 marginButton" 
								    tooltipped 
								    data-position="top" 
								    data-delay="50" 
								    data-tooltip="Visualizar detalhes">
									<i class="material-icons">reorder</i>
								</a>
								<a class="btn-floating yellow darken-2 marginButton" 
								    tooltipped 
								    data-position="top" 
								    data-delay="50" 
								    data-tooltip="Editar">
									<i class="material-icons">mode_edit</i>
								</a>
								<a class="btn-floating red marginButton" 
								    tooltipped 
								    data-position="top" 
								    data-delay="50" 
								    data-tooltip="Excluir"
								    ng-click="excluirTurma(turma)">
									<i class="material-icons">delete</i>
								</a>
							</td>
						</tr>				
					</tbody>

				</table>
				<div class="row center">
					
					<pagination
                    class="active blue darken-4"
                    page="1"
                    page-size="5"
                    total="listTurmas.length"
                    show-prev-next="true"
                    use-simple-prev-next="false"
                    dots="..."
                    hide-if-empty="true"
                    adjacent="2"
                    scroll-top="false"
                    pagination-action="changePage(page)"/>
					
					<!--<ul class="pagination">
						<li class="disabled"><a href="#!"><i class="material-icons">chevron_left</i></a></li>
						<li class="active blue darken-4"><a href="#!">1</a></li>
						<li class="waves-effect"><a href="#!">2</a></li>
						<li class="waves-effect"><a href="#!">3</a></li>
						<li class="waves-effect"><a href="#!">4</a></li>
						<li class="waves-effect"><a href="#!">5</a></li>
						<li class="waves-effect"><a href="#!"><i class="material-icons">chevron_right</i></a></li>
					</ul>-->
				</div>

			</div>
		</div>
	</div> 

</div>  