<div class="container">
	<div class="z-depth-3 white row" style="margin-top:40px; padding: 0px 48px 0px 48px; border: 1px solid #EEE;">

		<div class="row center title-text" style="margin-bottom: -20px"><h1>Turmas</h1></div>
		<div class="row" style="margin-top: 20px">
			<div class="col s12">
                <div class="col s6">
                   <a style="margin-top: 24px" class="btn waves-effect waves-light #0d47a1 blue darken-3" tooltipped data-position="top" data-delay="50" data-tooltip="Cadastrar novo periódico" type="button" ui-sref="home.turmas.cadastro" >Novo</a>
                </div>
                
                <div class="input-field col s5" style="padding: 0px -1px 0px 48px;">
                    <label for="pesquisa">Pesquisa</label>
                    <input id="pesquisa" ng-model="pesquisa" type="text" maxlength="256">

                </div>
                
                <div class="col s1 m1 l1 right">
                    <a style="margin-top:15px" class=" btn-floating #323232 grey darken-3"><i class="material-icons">search</i></a>
                </div>
            </div>
		</div>


		<div class="row">
			<div class="col s12">
				<table class="highlight responsive-table">

					<thead>
						<tr>
							<th>
								Descrição
							</th>
							
							<th>
								Série
							</th>
							
							<th>
								Grau de Ensino
							</th>
							
							<th class="center">
								Ações
							</th>
						</tr>
					</thead>

					<tbody>
						<tr  class="animate-repeat" dir-paginate="turma in listTurmas |filter:pesquisa |itemsPerPage:5">
							<td width="41%">{{turma.descricao}}</td>
							
							<td width="14%">{{turma.serie}}ª</td>
							
							<td width="25%">{{turma.grauEnsino}}</td>
							
							<td width="20%" class="center">

							    <a modal href="#modalDetalhamento">
                                    <button class="btn-floating blue lighten-2 marginButton"  
                                        tooltipped
                                        ng-click="selectTurma(turma)"
                                        data-position="top" 
                                        data-delay="50" 
                                        data-tooltip="Visualizar detalhes">
                                        <i class="material-icons">reorder</i>
                                    </button>
								</a>
								
								<a class="btn-floating yellow darken-2 marginButton" 
                                    tooltipped
								    data-position="top" 
								    data-delay="50" 
								    data-tooltip="Editar"
								    ui-sref="home.turmas.alteracao({ id: {{turma.id}} })">
									<i class="material-icons">mode_edit</i>
								</a>
								
								<a modal href="#modalExclusao">
                                    <button class="btn-floating red marginButton" 
                                        tooltipped
                                        ng-click="selectTurma(turma)"        
                                        data-position="top" 
                                        data-delay="50" 
                                        data-tooltip="Excluir">
                                        <i class="material-icons">delete</i>
                                    </button>
                                </a>
							</td>
						</tr>				
					</tbody>

				</table>
				<div class="row center">					
					<dir-pagination-controls max-size="5" direction-links="true" boundary-links="true"></dir-pagination-controls>
				</div>

			</div>
		</div>
		
		<div id="modalExclusao" class="modal">
            <div class="modal-content">
                <h4>Deseja realmente excluir a seguinte turma?</h4>
                <br>
                <p><strong>Descrição:</strong> {{turmaSelected.descricao}}</p>
                <p><strong>Série:</strong> {{turmaSelected.serie}}</p>
                <p><strong>Grau de Ensino:</strong> {{turmaSelected.grauEnsino}}</p>
            </div>
            <div class="modal-footer">
                <button type="button" 
                   class="modal-action modal-close waves-effect waves-grey #b71c1c red darken-4 btn" 
                    ng-click="excluirTurma(turmaSelected)">Excluir</button>
                <a ui-sref="home.turmas" class="modal-action modal-close waves-effect waves-grey btn-flat">Cancelar</a>
            </div>
        </div>
        
        
        <div id="modalDetalhamento" class="modal">
            <div class="modal-content">
                <h4>Dados da turma</h4>
                <br>
                <p><strong>Descrição:</strong> {{turmaSelected.descricao}}</p>
                <p><strong>Série:</strong> {{turmaSelected.serie}}ª</p>
                <p><strong>Grau de Ensino:</strong> {{turmaSelected.grauEnsino}}</p>
            </div>
            <div class="modal-footer">
                <button ui-sref="home.turmas" class="modal-action modal-close waves-effect blue lighten-2 btn">Voltar</button>
            </div>
        </div>
	</div> 

</div>  