<div class="row center title-text" style="margin-top: 82px"><h1>Periódicos</h1></div>
<div class="row">
  <div class="col s12">
      <div class="col s6">
       <a style="margin-top: 24px" class="btn waves-effect waves-light #0d47a1 blue darken-3" tooltipped data-position="top" data-delay="50" data-tooltip="Cadastrar novo periódico" type="button" ui-sref="home.publicacoes.periodicos.cadastro" >Novo</a>
      </div>
        <div class="input-field col s5" style="padding: 0px -1px 0px 48px;">
            <label for="pesquisa">Pesquisa</label>
            <input id="pesquisa" ng-model="pesquisa" type="text" maxlength="256">

        </div>
        <div class="col s1 right">
            <a style="margin-top:15px" class=" btn-floating #323232 grey darken-3"><i class="material-icons">search</i></a>
        </div>
    </div>
</div>


<div class="row">
    <div class="col s12">

        <table class="highlight responsive-table">

            <thead>
                <tr>
                    <th>
                        Título
                    </th>
                    <th>
                        Categoria
                    </th>
                    <th class="center">
                        Disponibilidade
                    </th>
                    <th class="center">
                        Ações
                    </th>
                </tr>
            </thead>

            <tbody>
                <tr class="animate-repeat" dir-paginate="periodico in listPeriodicos |filter:pesquisa |itemsPerPage:5">
                    <td>{{periodico.descricao}}</td>
                    <td>{{periodico.categoria}} </td>
                    <td class="center">
                        <span class="new badge red center"  ng-hide="{{periodico.disponibilidade}}">Indisponível</span>
                        <span class="new badge green center" ng-show="{{periodico.disponibilidade}}">Disponível</span>
                    </td>
                    <td class="center">
                        <a class="btn-floating orange darken-1 marginButton" tooltipped data-position="top" data-delay="50" data-tooltip="Reservar">
                            <i class="material-icons">work</i>
                        </a>
                        
                        <a class="btn-floating green darken-4 marginButton" tooltipped data-position="top" data-delay="50" data-tooltip="Emprestar">
                            <i class="material-icons">open_in_browser</i>
                        </a>
                        
                        <a modal href="#modalDetalhamento">
                            <button class="btn-floating blue lighten-2 marginButton"  
                                tooltipped
                                ng-click="selectPeriodico(periodico)"
                                data-position="top" 
                                data-delay="50" 
                                data-tooltip="Visualizar detalhes">
                                <i class="material-icons">reorder</i>
                            </button>
                        </a>
                        
                        
                        <a ui-sref="home.publicacoes.periodicos.alteracao({id: {{periodico.id}} })">
                            <button class="btn-floating yellow darken-2 marginButton" 
                                tooltipped 
                                data-position="top" 
                                data-delay="50" 
                                data-tooltip="Editar">
                                <i class="material-icons">mode_edit</i>
                            </button>
                        </a>
                        
                        <a modal href="#modalExclusao">
                            <button class="btn-floating red marginButton" 
                                tooltipped
                                ng-click="selectPeriodico(periodico)"        
                                data-position="top" 
                                data-delay="50" 
                                data-tooltip="Excluir">
                                <i class="material-icons">delete</i>
                            </button>
                        </a>
                    </td>
                </tr>
            </tbody>

        </table>
        <div class="row center">
            <dir-pagination-controls max-size="5" direction-links="true" boundary-links="true"></dir-pagination-controls>
        </div>
        
        
        <div id="modalExclusao" class="modal">
            <div class="modal-content">
                <h4>Deseja realmente excluir o seguinte Periódico?</h4>
                <br>
                <p><strong>Título:</strong> {{periodicoSelected.descricao}}</p>
                <p><strong>Categoria:</strong> {{periodicoSelected.categoria}}</p>
                <p><strong>Quantidade real:</strong> {{periodicoSelected.quantidadeReal}}</p>
            </div>
            <div class="modal-footer">
                <button type="button" 
                   class="modal-action modal-close waves-effect waves-grey #b71c1c red darken-4 btn" 
                    ng-click="excluirPeriodico(periodicoSelected)">Excluir</button>
                <a ui-sref="home.publicacoes.periodicos" class="modal-action modal-close waves-effect waves-grey btn-flat">Cancelar</a>
            </div>
        </div>


        <div id="modalDetalhamento" class="modal">
            <div class="modal-content">
                <h4>Dados do periodico</h4>
                <br>
                <p><strong>Título:</strong> {{periodicoSelected.descricao}}</p>
                <p><strong>Categoria:</strong> {{periodicoSelected.categoria}}</p>
                <p><strong>Data de lançamento:</strong> {{periodicoSelected.dataLancamento}}</p>
                <p><strong>Disponibilidade:</strong> {{periodicoSelected.disponibilidade}}</p>
                <p><strong>Quantidade real:</strong> {{periodicoSelected.quantidadeReal}}</p>
                <p><strong>Quantidade de exemplares:</strong> {{periodicoSelected.quantidadeExemplares}}</p>
                <p><strong>Edição:</strong> {{periodicoSelected.edicao}}</p>
            </div>
            <div class="modal-footer">
                <button ui-sref="home.publicacoes.periodicos" class="modal-action modal-close waves-effect blue lighten-2 btn">Voltar</button>
            </div>
        </div>

    </div>
</div>