<div class="row center title-text" style="margin-top: 82px"><h1>Livros</h1></div>

<div class="row">
  <div class="col s12">
      <div class="col s6">
       <a style="margin-top: 24px" class="btn waves-effect waves-light #0d47a1 blue darken-3" tooltipped data-position="top" data-delay="50" data-tooltip="Cadastrar Novo Livro" type="button" ui-sref="home.publicacoes.livros.cadastro" >Novo</a>
      </div>
        <div class="input-field col s5" style="padding: 0px -1px 0px 48px;">
            <label for="pesquisa">Pesquisa</label>
            <input id="pesquisa" ng-model="pesquisa" type="text" maxlength="256">

        </div>
        <div class="col s1 right">
            <a style="margin-top:15px" class=" btn-floating #323232 grey darken-3"><i class="material-icons">search</i></a>
        </div>
    </div>
</div>


<div class="row">
    <div class="col s12">

        <table class="highlight responsive-table">

            <thead>
                <tr>
                    <th>
                        Título
                    </th>
                    <th>
                        Autor(es)
                    </th>
                    <th class="center">
                        Disponibilidade
                    </th>
                    <th class="center">
                        Ações
                    </th>
                </tr>
            </thead>

            <tbody>
                <tr class="animate-repeat" dir-paginate="livro in listLivros |filter:pesquisa |itemsPerPage:5">
                    <td>{{livro.descricao}}</td>
                    <td>{{livro.autor}}</td>
                    <td class="center">
                        <span class="new badge red center"  ng-hide="{{livro.disponibilidade}}">Indisponível</span>
                        <span class="new badge green center" ng-show="{{livro.disponibilidade}}">Disponível</span>
                    </td>
                    <td class="center"> 
                        <a class="btn btn-floating orange darken-1 marginButton" tooltipped data-position="top" data-delay="50" data-tooltip="Reservar" href="#modal1">
                            <i class="material-icons">work</i>
                        </a>
                        <a class="btn-floating green darken-4 marginButton" tooltipped data-position="top" data-delay="50" data-tooltip="Emprestar">
                            <i class="material-icons">open_in_browser</i>
                        </a>

                        <a modal href="#modalDetalhamento">
                            <button class="btn-floating blue lighten-2 marginButton"  
                                tooltipped
                                ng-click="selectLivro(livro)"
                                data-position="top" 
                                data-delay="50" 
                                data-tooltip="Visualizar detalhes">
                                <i class="material-icons">reorder</i>
                            </button>
                        </a>
                        <a ui-sref="home.publicacoes.livros.alteracao({id: {{livro.id}} })">
                            <button class="btn-floating yellow darken-2 marginButton" 
                                tooltipped 
                                data-position="top" 
                                data-delay="50" 
                                data-tooltip="Editar">
                                <i class="material-icons">mode_edit</i>
                            </button>
                        </a>

                        <a modal href="#modalExclusao">
                            <button class="btn-floating red marginButton" 
                                tooltipped
                                ng-click="selectLivro(livro)"        
                                data-position="top" 
                                data-delay="50" 
                                data-tooltip="Excluir">
                                <i class="material-icons">delete</i>
                            </button>
                        </a>
                    </td>
            </tbody>

        </table>
        <div class="row center">
            <dir-pagination-controls max-size="5" direction-links="true" boundary-links="true"></dir-pagination-controls>
        </div>

        <div id="modalExclusao" class="modal">
            <div class="modal-content">
                <h4>Deseja realmente excluir o seguinte livro?</h4>
                <br>
                <p><strong>Título:</strong> {{livroSelected.descricao}}</p>
                <p><strong>Autor:</strong> {{livroSelected.autor}}</p>
                <p><strong>ISBN:</strong> {{livroSelected.isbn}}</p>
                <p><strong>Quantidade real:</strong> {{livroSelected.quantidadeReal}}</p>
            </div>
            <div class="modal-footer">
                <button type="button" 
                   class="modal-action modal-close waves-effect waves-grey #b71c1c red darken-4 btn" 
                    ng-click="excluirLivro(livroSelected)">Excluir</button>
                <a href="#/livros" class="modal-action modal-close waves-effect waves-grey btn-flat">Cancelar</a>
            </div>
        </div>


        <div id="modalDetalhamento" class="modal">
            <div class="modal-content">
                <h4>Dados do livro</h4>
                <br>
                <p><strong>Título:</strong> {{livroSelected.descricao}}</p>
                <p><strong>Autor:</strong> {{livroSelected.autor}}</p>
                <p><strong>ISBN:</strong> {{livroSelected.isbn}}</p>
                <p><strong>Nº de páginas:</strong> {{livroSelected.numeroPaginas}}</p>
                <p><strong>Categoria:</strong> {{livroSelected.categoria}}</p>
                <p><strong>Ano:</strong> {{livroSelected.ano}}</p>
                <p><strong>Disponibilidade:</strong> {{livroSelected.disponivel}}</p>
                <p><strong>Edição:</strong> {{livroSelected.edicao}}</p>
                <p><strong>Quantidade real:</strong> {{livroSelected.quantidadeReal}}</p>
                <p><strong>Quantidade de exemplares:</strong> {{livroSelected.quantidadeExemplares}}</p>
                <p><strong>Data de lançamento:</strong> {{livroSelected.dataLancamento}}</p>
                <p><strong>Editora:</strong> {{livroSelected.editora.nomeEditora}}</p>
            </div>
            <div class="modal-footer">
                <button href="#/livros" class="modal-action modal-close waves-effect blue lighten-2 btn">Voltar</button>
            </div>
        </div>
    </div>
</div>